.metadata/.lock
.metadata/.log
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/19/007c6ebe859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/1a/607b2dbe859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/1c/701330be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/1c/e0bc6bbe859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/2/400ddfbd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/26/10b6d9bd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/2a/701c6dbe859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/2c/108573be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/2f/b0f210be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/2f/c0ebeebd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/30/101471be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/32/50cac6bd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/38/e0850cbe859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/3c/c04634eb859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/3e/30267bbe859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/45/30b578be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/49/e0fdf8bd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/4a/40ac03be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/4f/e00798bf859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/50/e093e0bd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/52/b05e7cbe859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/53/a086ddbd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/54/702a51e5859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/56/f0d8dbbd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/5f/803e39ed859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/61/a0218adf859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/65/b06313be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/67/d01b2cbe859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/7/808be4bd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/73/50e32abe859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/77/40d1e8bd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/7b/300d17be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/7c/b08fe2bd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/7e/a0b4ffbd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/80/4095f2bd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/83/d00f80e0849900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/84/50a6ec11859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/89/a02e4fe5859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/91/802572be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/96/90bd74be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/99/408e08be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/a0/d07c07be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/a1/10e4fbbd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/a1/4077f7bd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/a1/c04733be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/a3/306cbdb8859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/a9/c0fb15be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/ac/40da25be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/ad/c0e404be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/ae/400f32be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/b1/10f675be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/b2/50260bbe859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/b3/80b46fbe859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/b6/309c14be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/b8/c01227be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/bc/507228be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/be/403b01be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/c/709681e0849900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/c/b0e9d3bd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/c1/80af3bed859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/c4/504406be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/c4/f042f4bd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/c6/302b12be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/c8/d0ed09be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/c9/b0ed79be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/ca/605cea11859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/cb/6008d8bd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/d3/a06fccbd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/d4/90c9f5bd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/d8/c07302be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/df/505d6abe859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/e3/3039e6bd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/e3/f0da2ebe859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/e9/103eedbd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/ea/2045d023859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/f/f006febd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/f0/70b7ebbd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/f5/900cd6bd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/f5/d0aa29be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/f7/705dfabd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/f8/b07c77be859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/fe/60be0dbe859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/fe/80c0f0bd859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/ff/00450fbe859900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.projects/PictureIntoSound/.indexes/7/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/PictureIntoSound/.indexes/e4/22/46/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/PictureIntoSound/.indexes/e4/22/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/PictureIntoSound/.indexes/e4/25/46/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/PictureIntoSound/.indexes/e4/84/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/PictureIntoSound/.indexes/e4/94/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/PictureIntoSound/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/PictureIntoSound/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/PictureIntoSound/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/PictureIntoSound/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/UIShell.launch
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1308193551.index
.metadata/.plugins/org.eclipse.jdt.core/1420719090.index
.metadata/.plugins/org.eclipse.jdt.core/1505972308.index
.metadata/.plugins/org.eclipse.jdt.core/1671476569.index
.metadata/.plugins/org.eclipse.jdt.core/1765406557.index
.metadata/.plugins/org.eclipse.jdt.core/1841964203.index
.metadata/.plugins/org.eclipse.jdt.core/21156131.index
.metadata/.plugins/org.eclipse.jdt.core/2862355144.index
.metadata/.plugins/org.eclipse.jdt.core/3164457182.index
.metadata/.plugins/org.eclipse.jdt.core/3488917806.index
.metadata/.plugins/org.eclipse.jdt.core/3839214704.index
.metadata/.plugins/org.eclipse.jdt.core/3938408542.index
.metadata/.plugins/org.eclipse.jdt.core/4043202862.index
.metadata/.plugins/org.eclipse.jdt.core/551513651.index
.metadata/.plugins/org.eclipse.jdt.core/708745140.index
.metadata/.plugins/org.eclipse.jdt.core/893988391.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/PictureIntoSound/2015/12/49/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/PictureIntoSound/2015/12/49/refactorings.index
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.4.0.20130601-0317.xml
.metadata/.plugins/org.eclipse.recommenders.rcp/index/_0.fdt
.metadata/.plugins/org.eclipse.recommenders.rcp/index/_0.fdx
.metadata/.plugins/org.eclipse.recommenders.rcp/index/_0.fnm
.metadata/.plugins/org.eclipse.recommenders.rcp/index/_0.frq
.metadata/.plugins/org.eclipse.recommenders.rcp/index/_0.nrm
.metadata/.plugins/org.eclipse.recommenders.rcp/index/_0.prx
.metadata/.plugins/org.eclipse.recommenders.rcp/index/_0.tii
.metadata/.plugins/org.eclipse.recommenders.rcp/index/_0.tis
.metadata/.plugins/org.eclipse.recommenders.rcp/index/segments.gen
.metadata/.plugins/org.eclipse.recommenders.rcp/index/segments_1
.metadata/.plugins/org.eclipse.recommenders.rcp/repository/org/eclipse/recommenders/index/0.0.0/_maven.repositories
.metadata/.plugins/org.eclipse.recommenders.rcp/repository/org/eclipse/recommenders/index/0.0.0/index-0.0.0.pom
.metadata/.plugins/org.eclipse.recommenders.rcp/repository/org/eclipse/recommenders/index/0.0.0/index-0.0.0.pom.etag
.metadata/.plugins/org.eclipse.recommenders.rcp/repository/org/eclipse/recommenders/index/0.0.0/index-0.0.0.zip
.metadata/.plugins/org.eclipse.recommenders.rcp/repository/org/eclipse/recommenders/index/0.0.0/index-0.0.0.zip.etag
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
PictureIntoSound/.classpath
PictureIntoSound/.classpath
PictureIntoSound/.classpath
.metadata/.plugins/com.google.appengine.eclipse.core/appengine-sdk-proxy.jar
.metadata/.plugins/com.google.appengine.eclipse.core/appengine-tools-api.jar
.metadata/.plugins/org.eclipse.core.resources/.history/1a/803c88c68799001514d68a4304696642
.metadata/.plugins/org.eclipse.core.resources/.history/71/a0525dac8799001514d68a4304696642
.metadata/.plugins/org.eclipse.core.resources/.history/ac/e0e773ac8799001514d68a4304696642
.metadata/.plugins/org.eclipse.core.resources/.history/bf/507480c68799001514d68a4304696642
.metadata/.plugins/org.eclipse.core.resources/.history/d8/805764ac8799001514d68a4304696642
.metadata/.plugins/org.eclipse.core.resources/.history/eb/603e70ac8799001514d68a4304696642
.metadata/.plugins/org.eclipse.core.resources/.history/f9/905e16ac8799001514d68a4304696642
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.google.appengine.eclipse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.google.gdt.eclipse.suite.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.google.gwt.eclipse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.core.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/ScanImage.launch
.metadata/.plugins/org.eclipse.jdt.core/1204921147.index
.metadata/.plugins/org.eclipse.jdt.core/1213663992.index
.metadata/.plugins/org.eclipse.jdt.core/1495708385.index
.metadata/.plugins/org.eclipse.jdt.core/1525465471.index
.metadata/.plugins/org.eclipse.jdt.core/1759029701.index
.metadata/.plugins/org.eclipse.jdt.core/1814567434.index
.metadata/.plugins/org.eclipse.jdt.core/2099956612.index
.metadata/.plugins/org.eclipse.jdt.core/2281553403.index
.metadata/.plugins/org.eclipse.jdt.core/2284360107.index
.metadata/.plugins/org.eclipse.jdt.core/3161991787.index
.metadata/.plugins/org.eclipse.jdt.core/3405400722.index
.metadata/.plugins/org.eclipse.jdt.core/3638631262.index
.metadata/.plugins/org.eclipse.jdt.core/3931814635.index
.metadata/.plugins/org.eclipse.jdt.core/900517010.index
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.0.20140606-0033.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
PictureIntoSound/bin/.gitignore
.metadata/.mylyn/.tasks.xml.zip
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
PictureIntoSound/.classpath
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.jdt.core/1808853316.index
PictureIntoSound/.classpath
PictureIntoSound/bin/.gitignore
PictureIntoSound/bin/scanImage/ColorList$ColorName.class
PictureIntoSound/bin/scanImage/ColorList.class
PictureIntoSound/bin/scanImage/Pixel.class
PictureIntoSound/bin/soundGenerator/SoundGenerator.class
PictureIntoSound/bin/ui/UIShell$1.class
PictureIntoSound/bin/ui/UIShell$2.class
PictureIntoSound/bin/ui/UIShell$3.class
PictureIntoSound/bin/ui/UIShell$4.class
PictureIntoSound/bin/ui/UIShell$5.class
PictureIntoSound/bin/ui/UIShell$6.class
PictureIntoSound/bin/ui/UIShell$7.class
PictureIntoSound/bin/ui/UIShell$8.class
PictureIntoSound/bin/ui/UIShell.class
.metadata/.plugins/org.eclipse.core.resources/.history/2a/c050dc409799001514d68a4304696642
.metadata/.plugins/org.eclipse.core.resources/.history/2b/900d5f2c9299001514d68a4304696642
.metadata/.plugins/org.eclipse.core.resources/.history/2c/4013584a8e99001514d68a4304696642
.metadata/.plugins/org.eclipse.core.resources/.history/4e/5075acac8d99001514d68a4304696642
.metadata/.plugins/org.eclipse.core.resources/.history/53/306137398c99001514d68a4304696642
.metadata/.plugins/org.eclipse.core.resources/.history/60/70669c749299001514d68a4304696642
.metadata/.plugins/org.eclipse.core.resources/.history/82/80d1db319399001514d68a4304696642
.metadata/.plugins/org.eclipse.core.resources/.history/8a/c0d5f6388c99001514d68a4304696642
.metadata/.plugins/org.eclipse.core.resources/.history/98/d0d1b3099399001514d68a4304696642
.metadata/.plugins/org.eclipse.core.resources/.history/99/502dc6c19799001514d68a4304696642
.metadata/.plugins/org.eclipse.core.resources/.history/99/605c9bc79699001514d68a4304696642
.metadata/.plugins/org.eclipse.core.resources/.history/ce/a0a75ee19299001514d68a4304696642
.metadata/.plugins/org.eclipse.core.resources/.history/d9/d022de319099001514d68a4304696642
.metadata/.plugins/org.eclipse.core.resources/.history/e1/90bb43b28d99001514d68a4304696642
.metadata/.plugins/org.eclipse.core.resources/.history/e7/c0b004c78d99001514d68a4304696642
.metadata/.plugins/org.eclipse.core.resources/.history/f0/a0c50c808c99001514d68a4304696642
.metadata/.plugins/org.eclipse.core.resources/.history/f3/306985e09399001514d68a4304696642
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.core.resources/.history/1d/50d2e1519c9900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/31/30e683f2979900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/38/d0530ac39c9900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/42/8000dd98979900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/46/d02135df9b9900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/48/3014981e989900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/53/508eb42c979900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/5f/e05eb82c979900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/64/b0331d588f9900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/67/308583ef9c9900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/67/c054a7089c9900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/a/0052b2048a9900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/ab/407a645f979900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/c7/a04a8cf2979900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/d1/c0675fff899900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/d3/a08ace01989900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/da/50252adf9b9900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.core.resources/.history/ff/10d2b7249d9900151e6dea39f933a21d
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/5.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/6.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/7.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/8.png
.metadata/.plugins/org.eclipse.recommenders.rcp/repository/jre/jre/1.0.0/_maven.repositories
.metadata/.plugins/org.eclipse.recommenders.rcp/repository/jre/jre/1.0.0/jre-1.0.0.pom
.metadata/.plugins/org.eclipse.recommenders.rcp/repository/jre/jre/1.0.0/jre-1.0.0.pom.etag
.metadata/.plugins/org.eclipse.recommenders.rcp/repository/jre/jre/1.0.0/jre-1.0.0.pom.sha1
.metadata/.plugins/org.eclipse.recommenders.rcp/repository/jre/jre/1.0.0/jre-1.0.0-call.zip
.metadata/.plugins/org.eclipse.recommenders.rcp/repository/jre/jre/1.0.0/jre-1.0.0-call.zip.etag
.metadata/.plugins/org.eclipse.recommenders.rcp/repository/jre/jre/1.0.0/jre-1.0.0-call.zip.sha1
.metadata/.plugins/org.eclipse.recommenders.rcp/repository/jre/jre/maven-metadata-remote-models.xml
.metadata/.plugins/org.eclipse.recommenders.rcp/repository/jre/jre/maven-metadata-remote-models.xml.sha1
.metadata/.plugins/org.eclipse.recommenders.rcp/repository/jre/jre/resolver-status.properties
PictureIntoSound/.classpath
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_1
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/_remote.repositories
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/index-0.0.0-20140605.014212-1.zip
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/maven-metadata-models.xml
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/resolver-status.properties
.gitignore
.metadata/.plugins/org.eclipse.core.resources/.history/59/00123d35a099001514d68a4304696642
.metadata/.plugins/org.eclipse.core.resources/.history/98/8064b5f39b99001514d68a4304696642
PictureIntoSound/.classpath
PictureIntoSound/bin/.gitignore
PictureIntoSound/bin/scanImage/ScanImage.class
